<%= form_for([:admin, @student]) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this admin_student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :name,  OpenStruct.new(@student.name) do |n| %>
    <div class="form-inline">
      <div class="form-group">
          <%= n.label :family_name %><br>
          <%= n.text_field :family_name, :class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= n.label :first_name %><br>
        <%= n.text_field :first_name, :class=>"form-control" %>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group">
        <%= n.label :family_name_kana %><br>
        <%= n.text_field :family_name_kana, :class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= n.label :first_name_kana %><br>
        <%= n.text_field :first_name_kana, :class=>"form-control" %>
      </div>
    </div>
  <% end %>
  <%= f.fields_for :contact_information, OpenStruct.new(@student.contact_information) do |ci| %>
  <div class="form-group">
    <%= ci.label :mail %><br>
    <%= ci.text_field :mail, :class=>"form-control" %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :card_id %><br>
    <%= f.text_field :card_id, :class=>"form-control" %>
  </div>
  <div>
  <div class="form-group">
    <%= f.label :birthday %><br>
    <div class="row">
        <div class="col-md-4">
          <%= f.date_field :birthday, :class=>"form-control"%>
        </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :schools %><br>
    <div class="row">
      <div class="col-md-6">
      <!-- <% school_map = School.all.map{|s| [s.name, s.id.to_s]} %> -->
      <% schools.each do |school| %>
        <%= f.fields_for :schools, OpenStruct.new(school), index: "" do |school_form| %>
          <div class="form-inline">
            <%= school_form.select :school_id, School.all.map {|sm| [sm.display_name, sm.id]},{},:selected=>school[:school_id], :class=>"form-control" %>
            <%= school_form.text_field :enterance_year, :class=>"form-control", :placeholder=>"入学年度" %>
            <%= school_form.text_field :note, :class=>"form-control", :placeholder=>"備考" %>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>
  <div class="form-group">
    Course<br>
    <%= f.select :course_id, Course.all.map {|course| [course.name, course.id]},{:include_blank => true}, :selected=>@student[:course],  :class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit :class=>'btn btn-primary' %>
  </div>
<% end %>
