<%= form_for([:admin, @school]) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :kind %><br>
    <div class="row">
      <div class="col-xs-2">
        <%= f.select :kind, school_types(), {}, :class=>"form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_area :note, :size=>"x10", :class=>"form-control" %>
  </div>
  <%= f.fields_for :address do |af| %>
    <div class="form-group">
      <%= af.label :post %><br>
      <%= af.text_field :post %>
    </div>
    <div class="form-group">
      <%= af.label :prefecture %><br>
      <div class="row">
        <div class="col-xs-2">
        <%= af.select :prefecture, prefectures(), {}, :class=>"form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= af.label :city %><br>
      <%= af.text_field :city %>
    </div>
    <div class="form-group">
      <%= af.label :address1 %><br>
      <%= af.text_field :address1, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%= af.label :address2 %><br>
      <%= af.text_field :address2, :class=>"form-control" %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit nil, :class=>'btn btn-primary' %>
  </div>
<% end %>
