<%= form_for([:admin, @school_test]) do |f| %>
  <% if @school_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_test.errors.count, "error") %> prohibited this school_test from being saved:</h2>

      <ul>
      <% @school_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :school %><br>
    <div class="form-inline">
      <%= f.select :school_id, School.all.map {|sm| [sm.name, sm.id]},{},:selected=>:school_id, :class=>"form-control" %>
      <%= f.text_field :grade, :class=>"form-control", :placeholder=>"学年(半角数字)"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Test Date" %><br>
    <div class="form-inline">
          <%= f.date_field :start_date, :class=>"form-control"%>
          <%= f.date_field :end_date, :class=>"form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subjects %><br>
    <div class="repeater">
      <div data-repeater-list="school_test[subjects]">
        <% subjects.each do |subject| %>
        <div data-repeater-item class="list_group">
          <%= f.fields_for :subjects, OpenStruct.new(subject), index: "" do |subject_form| %>
            <div class="form-inline">
            <%= subject_form.text_field :name, :class=>"form-control", :placeholder=>"科目" %>
            <%= subject_form.text_field :average, :class=>"form-control", :placeholder=>"平均" %>
            <input data-repeater-delete type="button" value="Delete" class="btn btn-small"/>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
        <input data-repeater-create type="button" value="Add" class="btn btn-small"/>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class=>'btn btn-primary' %>
  </div>
<% end %>
