<span id="token" value="<%= form_authenticity_token %>" />
<span id="test_id" value="<%= @school_test.id %>" />
<p id="notice"><%= notice %></p>

<div class="table-responsive">

  <div class="inline">
    <h2><%= @school_test.name %></h2><%= link_to 'Edit', [:edit, :admin, @school_test] %>
  </div>
  <div>
    <%= @school_test.display_school %>
  </div>
  <div>
    <%= @school_test.display_date %>
  </div>

  <h3>Subjects</h3>
  <table class="table">
    <thead>
      <tr>
        <th>科目</th>
        <% subjects.each do |subject| %>
        <th><%= subject[:name] %></th>
        <% end %>
        <th>合計</th>
      </tr>
      <tr>
        <th>平均点</th>
        <% total = 0.0 %>
        <% subjects.each do |subject| %>
        <th><%= subject[:average] %></th>
        <% total += subject[:average].to_f %>
        <% end %>
        <th><%= total %></th>
      </tr>
      <% @school_test_results.each do |str| %>
      <tr>
        <td class="student" student_id="<%=str[:student_id]%>" ><%= Student.fullname(str[:student_id]) %></td>
        <% total = 0 %>
        <% subjects.each do |subject| %>
          <td class="editable" name="school_test_result[results][<%= subject[:name]%>]" id="school_test_result_results___"><%= str.results.nil? ? "" : str.results[subject[:name]] %></td>
          <% total += str.results.nil? ? 0 : str.results[subject[:name]].to_i %>
        <% end %>
        <td><%= total %></td>
        <td><a class="edit_test_result">edit</a></td>
      </tr>
      <% end %>
    </thead>
    <tbody>

    </tbody>
  </table>

  <h3>Input data</h3>

  <% subject_list = subjects  %>
  <table class="table">
    <thead>
      <tr>
        <th>科目</th>
        <% subject_list.each do |subject| %>
        <th><%= subject[:name] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= form_tag("/admin/school_test_results", method: "post") do  %>
      <%= hidden_field_tag "school_test_result[school_test_id]",  @school_test.id %>
      <tr>
        <td>
            <%= select_tag "school_test_result[student_id]",options_from_collection_for_select(Student.filter_school(@school_test.school_id), :id, :fullname), :class=>"form-control" %>
        </td>
        <% subject_list.each do |subject| %>
        <td>
          <%= text_field_tag "school_test_result[results][#{subject[:name]}]","",:class=>"form-control" %>
        </td>
        <% end %>
        <td>
          <%= submit_tag "create",:class=>'btn btn-primary' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<br><br>

  <%= link_to 'Back', admin_school_tests_path %>
</div>
