<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @admin_daily_report.date %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @admin_daily_report.grade %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @admin_daily_report.subject %>
</p>

<p>
  <strong>Homework:</strong>
  <%= @admin_daily_report.homework %>
</p>

<p>
  <strong>Tests:</strong>
  <%= @admin_daily_report.tests %>
</p>

<p>
  <strong>Note:</strong>
  <%= @admin_daily_report.note %>
</p>

<p>
  <strong>Other:</strong>
  <%= @admin_daily_report.other %>
</p>

<%= link_to 'Edit', edit_admin_daily_report_path(@admin_daily_report) %> |
<%= link_to 'Back', admin_daily_reports_path %>
