<% provide(:title, 'Daily Reports') %>

<p id="notice"><%= notice %></p>

<p>
  <div class="h4">Date:</div>
  <%= @daily_report.date %>
</p>

<p>
  <div class="h4">Grade:</div>
  <%= @daily_report.grade %>
</p>

<p>
  <div class="h4">Subject:</div>
  <%= @daily_report.subject %>
</p>

<p>
  <div class="h4">Student:</div>
  <table class="table">
    <thead>
      <tr>
        <th>生徒</th>
        <th>テスト結果</th>
        <th>テストファイル</th>
      </tr>
    </thead>
    <tbody>
    <% @daily_report.students.each do |student| %>
      <tr>
        <td><%= Student.find(student[:student_id]).fullname %></td>
        <td><%= student[:test_result] %></td>
        <td>
          <% if student[:test_file]
              file = AttachedFile.find(student[:test_file]) %>
              <%= link_to(file.to_s, :controller => "attached_files", :action => :download, :id => file.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>
<p>
  <div class="h4">Contents:</div>
  <table class="table">
      <thead>
        <tr>
          <th>生徒</th>
          <th>テキスト</th>
          <th>メモ</th>
        </tr>
      </thead>
      <tbody>
        <% @daily_report.contents.each do |content| %>
        <tr>
          <td>
            <%  content[:students].each do |student| %>
            <div><%= Student.find(student).fullname  %></div>
            <% end %>
          </td>
          <td>
            <%= "#{content[:textbook]} #{content[:unit]} #{content[:page]}" %>
          </td>
          <td>
            <%= content[:memo] %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
<p>
  <div class="h4">Homework:</div>
  <table class="table">
    <thead>
      <tr>
        <th>生徒</th>
        <th>テキスト</th>
        <th>締切日</th>
        <th>メモ</th>
      </tr>
    </thead>
    <tbody>
  <% @daily_report.homeworks.each do |homework| %>
    <tr>
      <td>
        <%  homework[:students].each do |student| %>
        <div><%= Student.find(student).fullname  %></div>
        <% end %>
      </td>
      <td>
        <%= "#{homework[:textbook]} #{homework[:unit]} #{homework[:page]}" %>
      </td>
      <td>
        <%= homework[:due_date] %>
      </td>
      <td>
        <%= homework[:memo] %>
      </td>
    </tr>
  <% end %>
  </tbody>
  </table>
</p>

<p>
  <div class="h4">Blackboard:</div>
  <% @daily_report.blackboard_pics.each do |bp| %>
    <div>
      <% file = AttachedFile.find(bp) %>
      <%= link_to(file.to_s, :controller => "attached_files", :action => :download, :id => file.id) %>
    </div>
  <% end if @daily_report.blackboard_pics%>
</p>

<p>
  <div class="h4">TestResult:</div>
  <% @daily_report.test_result_pics.each do |tr| %>
    <div>
      <% file = AttachedFile.find(tr) %>
      <%= link_to(file.to_s, :controller => "attached_files", :action => :download, :id => file.id) %>
    </div>
  <% end if @daily_report.test_result_pics%>
</p>

<div></div>
<%= link_to 'Edit', edit_admin_daily_report_path(@daily_report) %> |
<%= link_to 'Back', admin_daily_reports_path %>
