<% provide(:title, " Learning Map: #{@student.fullname}" ) %>

<div id="message"></div>
<div class="input-group">
  <span class="input-group-addon">Filter</span>
  <input id="filter" type="text" class="form-control" placeholder="Type here...">
</div>
<table class="table table-striped">
  <tbody class="searchable">
<% @learning_level_map.learning_level.each do |tag, level| %>
  <tr>
    <th class="search"><%= tag %></th>
    <td class="editable"><%= level %></td>
    <td><a class="edit_level">edit</a></td>
  </tr>
<% end %>
  </tbody>
</table>
<div >
  <%= form_tag("", method: "put") do %>
    <div class="form-inline">
      <div class="form-group">
          <%= text_field_tag :tag, "", :class=>"form-control" %>
      </div>
      <div class="form-group">
          <%= text_field_tag :level, "", :class=>"form-control", :placeholder=>"0-20" %>
      </div>
      <%= submit_tag "Go", :name=>nil, :class=>"btn" %>
    </div>
  <% end %>
</div>


<%= link_to 'Back Detail', controller: "admin/students", action: "show"  %>

<%= link_to 'Show network', controller: "admin/learning_level_maps", action: "network" %>
